.cursos-container{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cursos-container .h2s{
    margin-top: 60px;
}

.cursos-container h2{
    padding-bottom: 1%;
    padding-top: 2px;
}

.comple h2{ 
    font-size: 50px;
    padding-bottom: 25px;
    padding-top: 50px;
}

.box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cursos-box{
    position: relative;
    font-family: sans-serif;
    margin-right: 25px;
    margin-top: 25px;
}

.cursos-box::before, .cursos-box::after{
    content: "";
    background-color: #fa70894c;
    position: absolute;
}

.cursos-box::before{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    top: 30%;
    right: 2%;
}

.cursos-box::after{
    content: "";
    position: absolute;
    height: 70px;
    top: 8%;
    right: 5%;
    border: 2px solid;
    color: rgb(255, 255, 255);
}

.cursos-box .boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease .3s;

    width: 700px;
    height: 200px;
    padding: 20px;
    
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.574)
}

.cursos-box .boxes:hover{
    box-shadow: 0 0 20px 1px #ff226c;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.cursos-box .boxescc:hover{
    box-shadow: 0 0 20px 1px #ff226c;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.boxescc .cursotitle{
    color: #fff;
}

.cursos-box .boxescc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease .3s;

    width: 270px;
    height: 200px;
    padding: 15px;
    
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.574)
}


.cursos-box .boxes .cursotitle{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em;
    color: aliceblue;
}

.cursos-box .boxes, .boxescc strong{
    display: block;
    margin-bottom: 20px;
    color: #ff226c93;

}

.cursos-box .boxes p{
    margin: 1%;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: rgba(58, 57, 57, 0.739);
}

.cursos-box .boxes, .boxescc span{
    font-size: 15px;
    font-weight: 600;
    color: #ff226ccf;
}